<footer class="footer">
    <p>
        See it on
        <a href="https://github.com/VladCananau/whatsyourface">
            <svg class="svg-icon">
                <use xlink:href="/images/minima-social-icons.svg#github" />
            </svg>
        </a>
        &copy; 2019 - Vlad Ionut Cananau
        <a href="https://linkedin.com/in/vladcananau">
            <svg class="svg-icon">
                <use xlink:href="/images/minima-social-icons.svg#linkedin" />
            </svg>
        </a>
        <a href="https://vlad.cananau.com">
            <svg class="svg-icon">
                <use xlink:href="/images/minima-social-icons.svg#rss" />
            </svg>
        </a>
    </p>
</footer>
