@page
@using WhatsYourFace.Frontend.Pages
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    What's Your Face uses Azure / Bing Cognitive Services with a 
    data set of ~4000 faces and first names. It looks for the faces 
    that are most similar to the photo you uploaded and based on 
    those similarities tells you the name(s) that your face was 
    really meant for. Experiment with various photos, you'll get 
    slightly different results. All in all, don't take it too 
    seriously, it's just a bit of fun.
</p>
